# Terraform files
*.tfstate
*.tfstate.*
crash.log
*.tfvars
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Ignore CLI configuration files
.terraform/
.terraform.lock.hcl

# Local directory for Kubernetes config and other temporary files
kubeconfig
temp/

# Ignore sensitive files
env.tfvars
secrets.auto.tfvars
secrets.tfvars

# Ignore backup files
*.bak
*.swp
*~
*.tmp
*.temp

# Ignore logs and other unwanted files
*.log
*.out
*.log.*

# Ignore other IDE specific files
.idea/
.vscode/
*.iml

# Ignore macOS specific files
.DS_Store